.spell-card-collection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    gap: 20px;
}

.spells-card-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

* {
    /* outline: 1px solid red; */
}
