* {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

#root {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--fg-color);
    background-color: var(--bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Color Schemes for Light Theme (Default) */
    --bg-color: #ffa68d;
    --fg-color: #1c1c1c;
    --card-bg: #fab8a5;
    --gradient-card-bg: linear-gradient(45deg, #fab8a5, #ddd6b4);
}

/* Color Schemes for Dark Theme */
[theme="dark"] {
    --bg-color: #1c1c1c;
    --fg-color: #ffa68d;
    --card-bg: #141313;
    --gradient-card-bg: linear-gradient(45deg, #302b2b, #000000);
}

/* Antd Designs Overrides */

.ant-pagination-item a {
    color: var(--fg-color) !important;
}

.ant-pagination-item-active a {
    color: var(--bg-color) !important;
}

.ant-pagination-item-ellipsis {
    color: var(--fg-color) !important;
}

.ant-pagination-item-active {
    background-color: var(--fg-color) !important;
}
